<%- include("header", {active: "academics"}); -%>
<div class="row d-none d-md-block"  style="margin-top: 4%;">
  <div class="col-md-8 offset-md-4">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2 btn-group-lg" role="group" aria-label="First group">
        <button type="button" class="btn btn-secondary">1</button>
        <button type="button" class="btn btn-secondary">2</button>
        <button type="button" class="btn btn-secondary">3</button>
        <button type="button" class="btn btn-secondary">4</button>
        <button type="button" class="btn btn-secondary">5</button>
        <button type="button" class="btn btn-secondary">6</button>
        <button type="button" class="btn btn-secondary">7</button>
        <button type="button" class="btn btn-secondary">8</button>
        <button type="button" class="btn btn-secondary">9</button>
        <a type="button" class="btn btn-secondary" href="#10">10</a>
      </div>
    </div>
  </div>
</div>
<div class="row d-block d-md-none"  style="margin-top: 12%;overflow-x:hidden;">
  <div class="col-10 offset-1">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-secondary">1</button>
        <button type="button" class="btn btn-secondary">2</button>
        <button type="button" class="btn btn-secondary">3</button>
        <button type="button" class="btn btn-secondary">4</button>
        <button type="button" class="btn btn-secondary">5</button>
        <button type="button" class="btn btn-secondary">6</button>
        <button type="button" class="btn btn-secondary">7</button>
        <button type="button" class="btn btn-secondary">8</button>
        <button type="button" class="btn btn-secondary">9</button>
        <button type="button" class="btn btn-secondary">10</button>
      </div>
    </div>
  </div>
</div>
    <div class="books row" style=" overflow-x:hidden;">    
      <% for(var i = 0; i < vagdevi_academics.length; i++) {%>
        <div id="<%= vagdevi_academics[i].class %>"></div>
        <div class="book card col-6 col-md-3 offset-md-1"  style="text-align: center; width: 30%; height: 80%; margin-top: 1%;">
          <div class="card-body ">
            <img src="data:image/<%=vagdevi_academics[i].img.contentType%>;base64,<%=vagdevi_academics[i].img.data.toString('base64')%>" height="60%" width="60%">
            <h5>Student Name: <%=vagdevi_academics[i].studentname %></h5>
            <h5>Rank: <%= vagdevi_academics[i].rank %></h5>
            <h5>Class: <%= vagdevi_academics[i].class %></h5>
          </div>
        </div>
      <% } %>
      </div>



      <%- include('footer'); -%>
  
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>