<%- include("header"); -%>
    <div class="books row" style="margin-top: 12%">
      <% for(var i = 0; i < vagdevi_events.length; i++) {%>
        
        <div class="book card col-12 col-md-4"  style="text-align: center; width: 30%; height: 80%;background-color: blue;">
          <div class="card-body ">
            <img src="data:image/<%=vagdevi_events[i].img.contentType%>;base64,<%=vagdevi_events[i].img.data.toString('base64')%>" height="60%" width="60%">
            <h5>Student Name: <%=vagdevi_events[i].studentname %></h5>
            <h5>Event name: <%= vagdevi_events[i].eventname %></h5>
            <h5>Description: <%= vagdevi_events[i].description %></h5>
            <h5>Event date: <%= vagdevi_events[i].eventdate %></h5>
          </div>
        </div>
      <% } %>
      </div>







    <footer>
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-5">
              <h5>Links</h5>
              <ul class="list-unstyled">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/academics">Academics Us</a></li>
                <li><a href="/alumini">Alumini</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
            </div>
            <div class="col-12 col-sm-5">
              <h5>Reach Us</h5>
              <h6>Vagdevi Vidyalayam</h6>
              <i class="fa fa-map-marker fa-lg"></i>:address<br>
              <i class="fa fa-location-arrow fa-lg"></i>:&nbsp;<a href="link" target="_blank">Get Directions</a><br>
              <i class="fa fa-phone fa-lg"></i>: 8341113700<br>
                  <i class="fa fa-envelope fa-lg"></i>: <a href="info@kdlbalaji.com"> mail</a>
            </div>
            <div class="col-12 col-sm-2 align-self-right">
              <div class="text-center">
                  <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/Vagdevi-Vidyalayam-High-School-173824292719669"><i class="fa fa-facebook fa-lg"></i></a>      
              </div>
          </div>
          </div>
        </div>
      </footer>
  
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>