<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
            <div class="navbar-brand" style="margin-right: 7%;">
                <a class="navbar-brand" href="/" style="font-weight: 500;">
                    <img src="vagdevilogo.jpg" alt="logo" height="60px" width="60px" style="margin-right: 2%;">
                    <span class="d-none d-md-inline-block" href="/">
                      Vagdevi Vidyalayam
                    </span>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item menu-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link" href="/addevents">Add events</a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link" href="/addalumini">Add alumini</a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link" href="/addacademics">Add academics</a>
                </li>
                <li class="nav-item active menu-item">
                    <a class="nav-link" href="/messages">view message</a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
              </ul>
              <form action="/admin" method="GET" class="form-inline">
                <a class="btn btn-outline-danger" href="/logout" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Log out</a>
                </form>
            </div>
          </nav>
    </header>
<div class="container" style="margin-top: 12%;">
        <% for(var i = 0; i < vagdevi_messages.length; i++) {%>
            <div class="row mt-3">
                <div class="card col-12">
                    <div class="card-body">
                      <div class="row">
                        <h5 class="card-title col-11">Message from:-</h5>
                        <form action="/deletemsg" method="POST">
                            <input class="d-none" value="<%=vagdevi_messages[i].studentname %>" name="studentname">
                            <input class="d-none" value="<%=vagdevi_messages[i].class %>" name="class">
                            <button class="btn" style="background-color:aliceblue;"><i class="fa fa-trash" style="color: red;"></i></button>
                        </form>
                      </div>
                      <h6 class="card-subtitle mb-2">Student Name: <%=vagdevi_messages[i].studentname %></h6>
                      <h6 class="card-subtitle mb-2">Class/Section: <%=vagdevi_messages[i].class %></h6>
                      <h6 class="card-subtitle mb-2">Phone number: <%=vagdevi_messages[i].phno %></h6>
                      <h6 class="card-text">Enquiry: <%=vagdevi_messages[i].enquiry %></h6>
                    </div>
                  </div>
            </div>
        <% } %>
    </div>
</body>
</html>